<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spacelight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>688E362A1E8BCE5F008F2CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688E363B1E8BCE5F008F2CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688E36461E8BCE5F008F2CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
